<%= @first_player_name %> vs. <%= @second_player_name %> <br/>
<%= @first_player_hitpoints %>        <%= @second_player_hitpoints %>


<form action="/attack" method="post">
  <input type="submit" value="Attack Player 1" name="first_player">
</form>

<form action="/attack" method="post">
  <input type="submit" value="Attack Player 2" name="second_player">
</form>